.carousel {
  width: 100%;
  display: flex;
  padding-left: 4em;
  padding-top: 4em;
  padding-bottom: 8em;
}

@media screen and (max-width: 720px) {
  .carousel {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 8em;
  }
}

.carousel__row {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .carousel__row {
    flex-flow: column;
  }
}

.carousel__text {
  display: flex;
  flex-flow: column;
  width: 25vw;
  padding-right: 2.5rem;
}

@media screen and (max-width: 720px) {
  .carousel__text {
    width: 100%;
  }
}

.carousel__slide {
  display: flex;
  width: calc(100% - 25vw);
}

@media screen and (max-width: 720px) {
  .carousel__slide {
    width: 100%;
    margin-top: 2.5rem;
  }
}

.carousel__slider {
  width: 100%;
}

.carousel__slider .svgOverlay {
  margin-top: 0;
}

.carousel__slider figure {
  margin-top: 0 !important;
  height: 19vw;
}

@media screen and (max-width: 720px) {
  .carousel__slider figure {
    height: 30vh;
  }
}

.carousel__nav {
  display: flex;
  justify-self: flex-end;
  margin-top: auto;
}

.carousel__nav__button {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
  transition-duration: .9s;
}

.carousel__nav__button:hover {
  background-color: #d727a7;
  transform: scale(1.2);
}

.carousel__nav__button:hover svg {
  fill: white;
}
